<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>{{menu}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/maintainers/category" >Dashboard</a></li>
                    <li *ngIf="subMenu === ''" class="breadcrumb-item active" aria-current="page">{{menu}}</li>
                    <li *ngIf="subMenu !== ''" class="breadcrumb-item " aria-current="page">{{menu}}</li>
                    <li *ngIf="subMenu !== ''" class="breadcrumb-item active" aria-current="page">{{subMenu}}</li>
                </ol>
            </nav>
        </div>  
    </div>
</div>